<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="de">
</head>
<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Navigation ein-/ausblenden</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Dash</a>
					</div>
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Shops <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/shops}">Shops</a></li>
									<li><a href="#" th:href="@{/shop/new}">Neuer Shop</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Aufträge <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/assignments}">Aufträge</a></li>
									<li><a href="#" th:href="@{/assignment/new}">Neuer Auftrag</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Einkäufe <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/buys}">Einkäufe</a></li>
									<li><a href="#" th:href="@{/buy/new}">Neuer Einkauf</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Materialien <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/materials}">Materialien</a></li>
									<li><a href="#" th:href="@{/material/new}">Neues Material</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Produkte <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/products}">Produkte</a></li>
									<li><a href="#" th:href="@{/product/new}">Neues Produkt</a></li>
								</ul></li>
						</ul>
						<ul class="nav navbar-nav">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Verkäufe <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="@{/sells}">Verkäufe</a></li>
									<li><a href="#" th:href="@{/sell/new}">Neuer Verkauf</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>
</body>
</html>