<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Auftrag Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">ID:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.id}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Auftragsnummer:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.orderNumber}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Shop:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.shop.name}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kaufdatum:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.orderedAt}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Abgeschlossen:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.closed}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Gesamtpreis:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.price}">description</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Zusatzkosten:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${assignment.addtionalCosts}">description</p>
                    </div>
                </div>
                <div class="form-group">
                	<label class="col-sm-2 control-label">Einkäufe:</label>
                	<div class="col-sm-10">
		                <table class="table table-striped">
		                	<thead>
		                		<tr>
		                			<th>Name</th>
		                			<th>Anzahl</th>
		                			<th>Einzelpreis</th>
		                			<th>Gesamtpreis</th>
		                		</tr>
		                	</thead>
		                	<tbody>
			                	<th:block th:each="row,rowStat : ${assignment.buys}">
								    <tr>
								        <td th:text="${row.material.displayName}">A Smoke Test'</td>
								        <td th:text="${row.quantity}">A Smoke Test'</td>
								        <td th:text="${row.price}">A Smoke Test'</td>
								        <td th:text="${row.totalPrice}">A Smoke Test'</td>
								    </tr>
								</th:block>
							</tbody>
		                </table>
	                </div>
                </div>
            </form>
    </div>
</div>

</body>
</html>