<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <a class="btn btn-large btn-success" href="#" th:href="@{/material/new}">Material erstellen</a>
    <form class="form-search" action="#" 
				th:action="@{/material/search}" 
				th:object="${search}" method="post">
				<fieldset>
					<table class="centerAlign">
						<tr>
							<td colspan="4"><legend>Suche</legend></td>
						</tr>
						<tr>
				               <td class="inputLabel"><label for="color">Farbe</label></td>
				                <td>
					           		<select th:field="*{color}">
								  		<option th:each="color : ${colors}" 
								          th:value="${color}" 
								          th:text="${color.name}">Farbe</option>
									</select>
				          		</td>
						</tr>	
						<tr>
							<td colspan="2" class="right"><button type="submit" class="btn btn-primary">Search</button></td>
						</tr>		
					</table>
				</fieldset>
			</form>	
    
    <div th:if="${not #lists.isEmpty(materials)}">
        <h2>Materialien</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Farbe</th>
                <th>Beschreibung</th>
                <th>Verfügbar</th>
                <th>Aktionen</th>
            </tr>
            <tr th:each="material : ${materials}">
                <td th:text="${material.id}"><a href="/material/${material.id}">Id</a></td>
                <td th:text="${material.name}">name</td>
                <td th:text="${material.color.name}">name</td>
                <td th:text="${material.description}">descirption</td>
                <td th:text="${material.available}">descirption</td>
                <td><a class="btn btn-sm btn-info" th:href="${'/material/' + material.id}">Anzeigen</a>  
                <a class="btn btn-sm btn-default" th:href="${'/material/edit/' + material.id}">Editieren</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>